*.o
*~
*.dic
*.dump
*.elf
*.nm
*.x
*.ip
*.img
*.exe
*.bin
*.zip
*.tgz
forth
meta
makebi
makename
date.c
version
.DS_Store

# platformio build tree
.pio

# created by makename
prims.h
vars.h
init.x

# created by makebi
dicthdr.h
dict.h
userarea.h
